//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

/* Media query mobile */
@media (max-width:$mobile){
   
    header .logo-nav img {
        max-height: 60px;
    }

    main {
        padding: 1rem;

        .titulo-principal {
            @include font-size(2rem, 1.3);
        }

        .galeria {
            flex-direction: column;
            align-items: center;
        }

        .servicios {
            padding: 1rem;

            .lista-servicios {
                grid-template-columns: 1fr;
            }
        }

        .contacto {
            padding: 1rem;
        }
    }

    .presentacion{
        flex-direction: column;
        padding: 1rem;
        gap: 0.8rem;
        text-align: center;

        .texto-presentacion {
            p {
                font-size: 1rem;
                line-height: 1.4;
                margin: 0 auto;
                max-width: 90%;
            }
        }

        .imagen-presentacion{
            img {
                width: 100%;
                max-width: 300%;
                height: auto;
                border-radius: $radio-borde;
            }
        }
    }

    .contacto{
        .img-contacto {
            width: 100%;
            max-width: 300%;
            height: auto;
            margin: 1rem auto;
            border-radius: $radio-borde;
        }
    }

    .footer {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
}