//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

@media (min-width:$tablet) and (max-width:$desktop) {

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main{
        flex: 1;
    }
    .presentacion {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        text-align: left;

        .texto-presentacion {
            flex: 1;

            p {
                font-size: 1.1rem;
                line-height: 1.5;
            }
        }

        .imagen-presentacion {
            flex: 1;

            img {
                width: 100%;
                max-width: 400px;
                height: auto;
            }
        }
    }

    .productos {
        .galeria {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
        }
    }

    .servicios{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;

        .titulo-servicios{
            grid-column: 1/2;
            font-size: 2rem;
            text-align: left;
        }

        .descripcion-servicios{
            grid-column: 1/2;
            font-size: 1.1rem;
            line-height: 1.5;
            text-align: left;
        }

        .lista-servicios{
            grid-column: 1/2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            list-style: none;
            padding: 0;
        }

        .btn-contacto {
            grid-column: 1/2;
            margin-top: 1rem;
            justify-self: start;
        }

        .img-servicios {
            grid-column: 2/3;
            max-width: 100%;
            height: auto;
            border-radius: $radio-borde;
            align-self: center;
        }
    }
    

    .contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;

        h1, h2 {
            grid-column: 1/3;
            text-align: center;
            margin-bottom: 1rem;
        }

        form {
            grid-column: 1/2;
            flex: 1;
        }

        .img-contacto {
            grid-column: 2/3;
            max-width: 100%;
            height: auto;
            border-radius: $radio-borde;
            align-self: center;
        }
    }

    .footer {
        font-size: 1rem;
        padding: 1.2rem;
        text-align: center;
        margin-top: auto;
    }
}