//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

/* Media query desktop */
@media (min-width:$desktop){
    main{
        padding: 2rem 4rem;
    }
  
    .imagen-productos{
        max-width: 100%;
        height:150px;
        object-fit: cover;
    }
    .galeria{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    .producto{
        flex: 1 1 300px;
        max-width: 300px;
    }
    .img-producto{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .contacto{
        .img-contacto{
            width: 100%;
            max-width: 300%;
            height: auto;
            margin: 1rem auto;
            border-radius: $radio-borde;
        }
    }
}